<li class="drink-row">
  <a href="<%= url_for drink.venue %>">
    <% unless drink.filepicker_url.blank? %>
    <%= filepicker_image_tag drink.filepicker_url, w: 80, h: 80, fit: 'crop' %>
    <% else %>
      <%= image_tag('default_drink.png') %>
    <% end %>
    <h3 class="name"><%= drink.name %></h3>
    <% if show_venue %>
      <h4>
        <%= drink.venue.name if drink.venue %>
      </h4>
      <% if drink.distance %>
        <p><%= "%.1f" % drink.distance + ' miles' %></p>
      <% end %>
    <% end %>
    <p class="ingredients"><%= drink.ingredients.pluck(:name).join(', ') %></p>
    <p><%= number_to_currency drink.price, precision: 0 %></p>
  </a>
</li>