<%= form_for(@drink) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>

    <fieldset>
      <legend>Submit a Drink</legend>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'span4' %>
        <%= f.label :venue %>
        <%= f.text_field :venue, :class => 'span4' %>
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'span4', :rows => '4' %>
        <%= f.label :instructions %>
        <%= f.text_area :instructions, :class => 'span4', :rows => '4' %>
        <label>Ingredients</label>
        <ul class='ingredient-list'>
          <li id="ingredient"></li>
        </ul>
        <span class="clearfix help-block muted">Press Enter to add more ingredients</span>
        <%= f.label :filepicker_url, "Upload a photo" %>
        <%= f.filepicker_field :filepicker_url %>
      </div>

    </fieldset>

    <div class="actions">
      <%= f.submit :class => 'btn' %>
    </div>

  </form>


<% end %>

<script type="text/template" class="di-template">

</script>
