<div class="item-header">
  <a href="#drink-image" data-rel="popup" class="item-thumb">
    <%= filepicker_image_tag @drink.filepicker_url, w: 100, h: 100, fit: 'crop' %>
  </a>
  <h3 class="drink-name"><%= @drink.name %></h3>
</div>

<ul data-role="listview" data-inset="true">
  <li><%= link_to @drink.venue.name, @drink.venue %></li>
</ul>

<ul class="ingredient-list">
  <% @drink.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<div data-role="popup" id="drink-image">
  <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
  <%= filepicker_image_tag @drink.filepicker_url %>
</div>