<div class="row venue">
	<div class="col-sm-6">
		<h3 class="venue-name"><%= @venue.name %></h3>

		<p class="yelp-ratings"><%= image_tag @venue.rating_image_url %><br />
				<%= @venue.review_count %> Yelp Reviews<br />
				<%= link_to 'Read Reviews', 'http://www.yelp.com/biz/' + @venue.yelp_id %></p>
		<%= @venue.address %><br />
		<%= @venue.city %>, <%= @venue.state %>
		</p>
	</div>
	<div class="col-sm-6 venue-map">
		<div id="map-canvas" style="height: 300px;"></div>
	</div>
</div>

<div class="row">
  <h4>Cocktail Menu</h4>
  <%= render partial: 'drinks/drink', collection: @venue.drinks, locals: { show_venue: false } %>
</div>

<script type="text/javascript">
	$(function() {
		var currentVenue = <%= j @venue.to_json.html_safe %>,
			nearbyVenues = <%= j @venue.nearbys.to_json.html_safe %>,
			mapOptions = {
			center: new google.maps.LatLng(currentVenue.latitude, currentVenue.longitude),
			zoom: 16,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		var marker = new google.maps.Marker({
			position: mapOptions.center,
			map: map,
			title: currentVenue.name,
			icon: '/assets/active_marker.png'
		});
		_.each(nearbyVenues, function(venue) {
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(venue.latitude, venue.longitude),
				map: map,
				title: venue.name,
				icon: '/assets/inactive_marker.png'
			});
			google.maps.event.addListener(marker, 'click', function() {
				window.location = '/venues/' + venue.id;
			});
		});
	});
</script>