<div class="item-header">
  <a href="http://maps.google.com/maps?daddr=<%= @venue.full_address %>&saddr=" target="_blank" class="item-thumb">
    <%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?markers=color:red|' + @venue.latitude.to_s + ',' + @venue.longitude.to_s + '&scale=1&zoom=14&sensor=true&size=100x100&center=' + @venue.latitude.to_s + ',' + @venue.longitude.to_s %>
  </a>
  <h3 class="venue-name"><%= @venue.name %></h3>
  <%= image_tag @venue.rating_image_url %>
  <p>
    <%= @venue.address %><br />
    <%= @venue.city %>, <%= @venue.state %>
  </p>
</div>

<ul data-role="listview" data-inset="true">
  <% @venue.drinks.each do |drink| %>
  <li><%= link_to drink.name, drink %></li>
  <% end %>
</ul>