<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pour Me One</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= yield :javascript_includes %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="/drinks">Search</a></li>
        <li><a href="/drinks/new">Submit</a></li>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
